.header-block{
    height: 80px;
    background-color: #2196F3;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;

}

.title{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

a{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 20px;
}

.user-box{
    display: flex;
    align-items: center;
    // color: 
    font-size: 12px;
    color: #fff;
    span{
        font-size: 12px;
        font-weight: normal;
    }
    a{
        font-weight: 700;
    }
}
